
  
  .table-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .styled-table {
    border-collapse: collapse;
    border: 0.5px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(19, 129, 255);
    font-family: 'Arial', sans-serif;
  }
  
  .styled-table thead {
    background-color: rgb(19, 129, 255);
  }
  
  .styled-table thead th {
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
  }
  
  .styled-table tbody td {
    padding: 2rem;
    border-bottom: 0.5px;
  }

  