<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item h5" *ngFor="let action of actions">
        <a (click)="setCurrentAction(action)"
           routerLink="{{action.route}}" [class]="action == currentAction?'nav-link active':'nav-link'" routerLinkActive="active">{{action.title}}</a>
      </li>
    </ul>
  </div>
    <ul class="nav-item h5">
      <b><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
      </svg> {{ currentUser?.fullName }}</b>
    </ul>
    <a class="nav-item h5">
      <p-button  (onClick)="logOut()"><b><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
          <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
        </svg> Sign Out</b></p-button>
    </a>
</nav>

<div style="justify-content: center;" class="row p-3 m-3">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <img [src]="product.image" [alt]="product.name" class="img-thumbnail">
          <h4>{{product.title}}</h4>
          <div class="star-rating">
            <p> Review : 
              <span class="star" style="color: orange"> {{ getStarRating(product.review) }}</span>
            </p>
          </div>
          <p>{{product.description}}</p>
          <h4 style="color: rgb(0, 89, 255)"> {{product.price}} $</h4>
          <div class="row text-center">
            <div class="col">
              <span class="btn btn-link btn-lg" (click)="remove()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-dash" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5"/>
                  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg>
              </span>
            </div>
            <div class="col h2">
              {{quantity}}
            </div>
            <div class="col">
              <span class="btn btn-link btn-lg" (click)="add()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                </svg>
              </span>
            </div>
          </div>
  
          <div class="p-4 flex d-flex justify-content-between">
            <h5>Total:&nbsp;&nbsp;&nbsp;&nbsp; {{quantity * product.price}} $</h5>
            <div class="d-grid">
              <button type="button" class="btn btn-primary btn-block" (click)="buy()" [disabled] = "quantity <= 0">add to the Cart</button>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  
  
