.orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
  }
  
  .order-card {
    margin-bottom: 2rem;
  }
  
  .product-image {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
  
  .flex {
    display: flex;
  }
  
  .gap-3 {
    gap: 1rem;
  }
  
  .mt-1 {
    margin-top: 1rem;
  }
  
  .w-full {
    width: 100%;
  }
  